<div class="row">
    <div class="col-xs-2">
        <div class="list-group sidebar-nav-fixed">
            {{link-to "Home" "index" class="list-group-item"}} {{link-to "Activities" "activities" class="list-group-item"}} {{link-to "Weekly" "weekly" class="list-group-item"}} {{link-to "Monthly" "monthly" class="list-group-item"}} {{link-to "Charts" "charts"
            class="list-group-item"}}
        </div>
    </div>
    <div class="col-xs-10">
        {{outlet}}
    </div>
</div>